<div class="tramites__listado--item">
    <p>{{tramite.titulo}}</p>
    <p>{{tramite.dependencia}}</p>
    <div class="subitems">
        <div>
            <img *ngIf="tramite.enLinea" src="assets/check.png" alt="">
            <div [style.color]="getEstiloTramiteDisponible(tramite.enLinea)">
                {{getTramiteDisponible(tramite.enLinea)}}
            </div>
        </div>
        <div>
            <img src="assets/money.png" alt="">
            <p>{{getTramiteCosto(tramite.conCosto)}}</p>
        </div>
        <div>
            <a [attr.href]="tramite.url">Ver todo el trámite</a>
        </div>
    </div>
</div>
