.tramites__listado--item {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-bottom: 2px solid #e5eefb;
}
.tramites__listado--item p:nth-child(1) {
    font-weight: normal;
    color: #0b457f;
    line-height: normal;
    margin: 0px;
}
.tramites__listado--item p:nth-child(2) {
    font-weight: 300;
    font-size: 12px;
    color: #0b457f;
    margin-bottom: 3px;
}
.subitems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subitems > div > img {
    width: 15px;
    height: 15px;
}
.subitems > div > div {
    padding: 0px 5px;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    color: #0a9169;
}
.subitems > div > a {
    padding: 0px 5px;
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
    color: #0b457f;
}
.subitems > div > p {
    margin: 0;
    padding: 0px 5px;
}
.subitems div {
    display: flex;
    align-items: center;
    flex-direction: row;
}