.container-item {
    background-color: transparent;
    height: 295px;
    max-width: 300px;
    padding: 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.d-block {
    display: flex;
    height: 240px;
    justify-content: space-between;
    font-weight: lighter;
    padding: 0px 10px;
}
.d-block p:nth-child(1){
    font-size: 28px;
    line-height: 120%;
    font-family: 'Work Sans', sans-serif;
    color: #3772ff;
}
.d-block p:nth-child(2){
    font-size: 12px;
    font-weight: 200;
    color: #3772ff;
}
.d-block div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.d-block div img {
    width: 16px;
    height: 16px;
}
.d-block div div {
    color: #0a9169;
    font-size: 12px;
    font-weight: 200;
    padding: 0px 5px;
}
