<div class="container-item">
    <div class="d-block w-100">
        <p>{{getTituloTruncado(tramite.titulo)}}</p>
        <p>{{tramite.dependencia}}</p>
        <div>
            <img *ngIf="tramite.enLinea" src="assets/check.png" alt="">
            <div [style.color]="getEstiloTramiteDisponible(tramite.enLinea)">
                {{getTramiteDisponible(tramite.enLinea)}}
            </div>
        </div>
    </div>
</div>
