<div class="contenedor text-center">
    <h1>{{titulo}}</h1>
    <div class="contenedor-input">
        <input type="search" placeholder="{{placeholder}}">
        <span class="govco-icon govco-icon-search-cn"></span>
    </div>
    <br>    
    <h3>{{subtitulo}}</h3>
</div>
