.contenedor{
    padding-top: 5%;
}

.contenedor h1, .contenedor h3  {
    color: white;    
}

.contenedor h1 {
    font-size: 4rem;
    font-weight: 200;
}

.contenedor h3 {
    font-size: 2rem;
    font-weight: 400;
}

.contenedor-input{
    width: 50%;
    margin: auto;
    position: relative;
}


.contenedor-input span{
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: -11px;
    z-index: 10;
    font-size: 3em;
}

.contenedor-input input{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 50px;
    background: #fff;
    font-family: Work Sans,sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0;
    color: rgba(75,75,75,.5);
    padding-left: 50px;
    border: unset;    
    border-radius: 2rem;
    background-size: 35px 35px;
    background-position: left 10px center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.contenedor-input input::placeholder{
    color: #1d73c6;
}


.contenedor-input input::-webkit-search-cancel-button {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 10px;    
}


.contenedor-input input:focus{
    outline: none;
}