<div class="otros">
    <h3>Otros temas de tu interés</h3>
    <div class="cargando" *ngIf="cargando">
        Cargando otros temas...
    </div>
    <div class="row">
        <app-otros-item class="col-md-6 mb-3" *ngFor="let otro of otros" [otro]="otro" ></app-otros-item>
    </div>
</div>