.otros {
    margin: 10px 10px 30px 10px;
    display: flex;
    flex-direction: column;
}

.otros h3 {
    font-weight: lighter;
    margin: 0px 50px;
}

.otros__contenedor {
    display: flex;
    flex-wrap: wrap;
}

.cargando {
    display: flex;
    justify-content: center;
    font-weight: 200;
}