.tramites__listado {
    padding: 0px;
    margin: 5px 10px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
}
.tramites__listado--contenedor {
    display: flex;
    flex-direction: column;
}
.tramites__listado--conocer {
    display: flex;
    margin: 5px 0px;
    align-self: flex-end;
}
.tramites__listado--conocer a {
    font-size: 12px;
    color: #3772ff;
    font-weight: normal;
}
.tramites__listado--conocer img {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    align-self: center;
}
