<div class="tramites__listado">
    <div class="cargando" [ngStyle]="{'display': cargandoDatos ? 'block' : 'none'}">Cargando trámites...</div>
    <div class="tramites__listado--contenedor">
        <app-tramites-lista-item *ngFor="let tramite of tramites" [tramite]="tramite"></app-tramites-lista-item>
    </div>
    <div class="tramites__listado--conocer">
        <a href="#">Conocer otros trámites</a>
        <img src="assets/arrow-right.png" alt="">
    </div>
</div>
