<div class="img-fondo">
    <app-buscar></app-buscar>
</div>
<div class="container">
    <div class="card govco-card">
        <app-tramites></app-tramites>
        <app-otros></app-otros>
    </div>    
</div> 

