.img-fondo{
    min-height: 30rem;
    background-image: url(https://www.gov.co/home/portada-01-abril.7755328688b5440943ed.jpg);
    background-position: 50% bottom;
    background-size: inherit;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    border: 0;
}

.container{
    margin-top: -100px;
}
