.barra{
    display: block;
    height: 25px;
    background-color: #ffa400;     
}

.barra .container{
    display: block;
}

.barra .container p{    
    float:left;
    margin: 0px;
}

.barra .container div{
    float: right;
    cursor: pointer;
}