<div class="card govco-card">
    <div class="item__imagen">
        <img [attr.src]="imagen" alt="">
    </div>
    <div class="item__contenido">
        <h6>{{otro.titulo}}</h6>
        <p>{{otro.descripcion}}</p>
        <div class="item__contenido--enlace">
            <div>{{otro.textoUrl}}</div>
            <img src="assets/arrow-right.png" alt="Flecha derecha">
        </div>
    </div> 
</div> 
