.otros__contenedor--item {
    border: 2px solid #f4f8fd;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.card {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
}

.item__contenido {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    flex-grow: 1;
}

.item__contenido h6 {
    font-weight: 200;
    margin: 5px 0px;
    font-size: 18px;
}

.item__contenido p {
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    color: #396897;
}

.item__contenido--enlace {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
}

.item__contenido--enlace div {
    font-size: 12px;
    font-weight: 300;
    color: #5083ff;
    padding-right: 5px;
}

.item__contenido--enlace img {
    width: 15px;
    height: 15px;
}
