.cargando {
    display: flex;
    justify-content: center;
    font-weight: lighter;
    padding: 0px 20px;
    height: 250px;
    align-items: center;
}
.carrusel {
    background-color: white;
    border: 1px solid #3772ff;
    border-radius: 10px;
    width: 300px;
    min-height: 350px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}
.carrusel--descripcion {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.carrusel--descripcion p {
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    color: #3772ff;
}
.carrusel--descripcion img {
    width: 18px;
    height: 18px;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #bababa;
}
.carousel-indicators li.active {
    background-color: #3772ff;
}

/* media queries */
@media only screen and (max-width: 700px) {
    .carrusel {
        display: none;
    }
}
