<div class="carrusel">
    <div class="carrusel--descripcion">
        <p>Los trámites más usados</p>
        <img src="assets/plus.png" alt="Más">
    </div>
    <div class="cargando" *ngIf="cargando">
        Cargando trámites...
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="mostrarCarrusel()">
        <ol class="carousel-indicators">
            <li *ngFor="let indicador of indicadores; let ind = index" data-target="#carouselExampleIndicators" attr.data-slide-to="{{ind}}" [className]="ind === 0 ? 'active' : ''"></li>
        </ol>
        <div class="carousel-inner">
            <app-tramites-carrusel-item
                *ngFor="let tramite of tramites; let i = index"
                [className]="i === 0 ? 'carousel-item active' : 'carousel-item'"
                [tramite]="tramite"
            >
            </app-tramites-carrusel-item>
        </div>
    </div>
</div>
