<section class="contenedor">
    <div class="tramites">
        <app-tramites-carrusel [tramites]="tramites"></app-tramites-carrusel>
        <app-tramites-lista [tramites]="tramites"></app-tramites-lista>
    </div>
</section>
